[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lumibot = "*"
alpaca-trade-api = "==3.1.1"
torch = "*"
torchvision = "*"
torchaudio = "*"
transformers = "*"
pydantic-settings = "*"

[dev-packages]
black = "*"
autoflake = "*"
isort = "*"
mypy = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.13"

[scripts]
main = "python3 ./src/main.py"
format = "/bin/bash ./scripts/format-code.sh"
lint = "/bin/bash ./scripts/lint.sh"
